n8n-workflows/blog 1.json
{
  "name": "blog 1",
  "nodes": [
    {
      "parameters": {},
      "id": "4d542f20-d6e8-442c-9da3-b720a5e9c14b",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2608,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Define your blog topic and parameters here\nconst topic = {\n  title: \"Amazing Paragliding Experience in Oludeniz\",\n  keywords: [\"paragliding\", \"oludeniz\", \"blue lagoon\", \"adventure\"],\n  categories: [\"Adventures\", \"Tips & Guides\"],\n  tags: [\"paragliding\", \"oludeniz\", \"blue-lagoon\", \"adventure-sports\", \"turkey\"],\n  author_name: \"Captain Mehmet\",\n  tone: \"enthusiastic and informative\",\n  word_count: 800\n};\n\nreturn { json: topic };"
      },
      "id": "fc923578-df00-4d18-b4de-3f14591699b3",
      "name": "Blog Topic Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        48
      ]
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional blog content writer. You create engaging, SEO-optimized blog posts with clear structure, compelling narratives, and practical value for readers. Always respond with valid JSON format containing title, content, excerpt, and meta_description fields."
        }
      },
      "id": "33f81c53-cb8f-472a-a6d1-cf6ddbfdceaa",
      "name": "AI Agent - Blog Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2000,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare the prompt for the AI agent\nconst topic = $input.first().json;\n\nconst prompt = `Write a comprehensive blog post about: \"${topic.title}\"\n\nRequirements:\n- Include these keywords naturally: ${topic.keywords.join(', ')}\n- Writing tone: ${topic.tone}\n- Target word count: ${topic.word_count}+ words\n- Use markdown formatting with proper headings (##, ###)\n- Include engaging introduction and conclusion\n- Add practical tips and real experiences\n- Make it SEO-friendly\n\nProvide your response in this exact JSON format:\n{\n  \"title\": \"Engaging blog post title (can be different from the topic)\",\n  \"content\": \"Full blog post content in markdown format\",\n  \"excerpt\": \"Compelling 2-3 sentence summary for preview\",\n  \"meta_description\": \"SEO-optimized description (150-160 characters)\"\n}`;\n\nreturn { \n  json: { \n    chatInput: prompt,\n    ...topic \n  } \n};"
      },
      "id": "5a5768f8-687c-46e1-bf5d-97ed0e5de24b",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI agent response and prepare blog data\nconst agentResponse = $input.first().json;\nlet contentData;\n\n// Extract the response text\nconst responseText = agentResponse.output || agentResponse.text || JSON.stringify(agentResponse);\n\ntry {\n  // Try to find JSON in the response\n  const jsonMatch = responseText.match(/```json\\s*([\\s\\S]*?)\\s*```/) || \n                    responseText.match(/```\\s*([\\s\\S]*?)\\s*```/) ||\n                    responseText.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    const jsonStr = jsonMatch[1] || jsonMatch[0];\n    contentData = JSON.parse(jsonStr);\n  } else {\n    contentData = JSON.parse(responseText);\n  }\n} catch (e) {\n  throw new Error(`Failed to parse AI response: ${e.message}\\n\\nResponse: ${responseText}`);\n}\n\n// Get the original topic data\nconst topicData = $('Prepare AI Prompt').first().json;\n\n// Combine AI-generated content with metadata\nconst blogPost = {\n  title: contentData.title,\n  content: contentData.content,\n  excerpt: contentData.excerpt,\n  featured_image: \"https://images.unsplash.com/photo-1511576661531-b34d7da5d0bb?w=1200\",\n  image_alt: `${contentData.title} - scenic view`,\n  author_name: topicData.author_name || \"Admin\",\n  author_avatar: `https://ui-avatars.com/api/?name=${encodeURIComponent(topicData.author_name || 'Admin')}&background=3B82F6&color=fff&size=200`,\n  categories: topicData.categories || [\"General\"],\n  tags: topicData.tags || [],\n  meta_description: contentData.meta_description,\n  status: \"published\",\n  is_featured: true\n};\n\nreturn { json: blogPost };"
      },
      "id": "ba8a7139-f937-40f4-953e-b6dd6bf1e2ca",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c46b0b6b-e92d-443f-96c3-a2e81bd6ded6",
              "leftValue": "={{ $json.publish_mode }}",
              "rightValue": "live",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad98abb1-28c0-4874-ae29-ec4a1d6445d3",
      "name": "Publish Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1264,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ceyhun.vercel.app/api/blog/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  title: $json.title,\n  content: $json.content,\n  excerpt: $json.excerpt,\n  featured_image: $json.featured_image,\n  featured_image_alt: $json.image_alt,\n  author_name: $json.author_name,\n  author_avatar: $json.author_avatar,\n  categories: $json.categories || [],\n  tags: $json.tags || [],\n  meta_description: $json.meta_description,\n  status: $json.status,\n  is_featured: $json.is_featured\n}) }}",
        "options": {}
      },
      "id": "a1c14b30-78b3-4cd6-8cbc-673ce27f1e16",
      "name": "Create Blog Post (Live)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1040,
        -64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "48tw7kzKYgTnEg1c",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6dc450bc-5c2d-4009-8bed-fa296846b1fa",
      "name": "Post Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -816,
        -64
      ]
    },
    {
      "parameters": {
        "content": "✅ Blog post published successfully!\n\n**Title:** {{ $json.post.title }}\n**URL:** {{ $json.post.url }}\n**Slug:** {{ $json.post.slug }}\n**Status:** {{ $json.post.status }}"
      },
      "id": "d365bf09-4cf6-47c3-b174-c8494c8d81df",
      "name": "Success Message",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -144
      ]
    },
    {
      "parameters": {
        "content": "❌ Failed to create blog post\n\n**Error:** {{ $json.error }}\n**Details:** {{ $json.details }}"
      },
      "id": "02423291-fc51-4674-b712-82197835b4ce",
      "name": "Error Message",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        32
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 AI AGENT\n\nThe AI Agent orchestrates content creation by:\n1. Receiving the blog topic & requirements\n2. Using OpenRouter LLM for generation\n3. Outputting structured blog content\n\n**Model:** Claude 3.5 Sonnet via OpenRouter"
      },
      "id": "9f0873cd-c682-4821-944e-59b8a7871dd6",
      "name": "Agent Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2016,
        320
      ],
      "id": "b85aabc4-d18f-4331-897e-4ab2c3bf3993",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5vtbLyA68bKwKcxC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Add publish mode flag - change this to \"live\" when ready to publish\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    ...data,\n    publish_mode: \"live\"\n  }\n};"
      },
      "id": "e5ef9e62-800a-4cd0-98af-5e354197d945",
      "name": "Set Publish Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format the blog post data for preview\nconst data = $input.first().json;\n\nconst preview = {\n  status: \"✅ Content Generated Successfully!\",\n  message: \"Blog post is ready. Change publish_mode to 'live' to publish it.\",\n  blog_data: {\n    title: data.title,\n    excerpt: data.excerpt,\n    author: data.author_name,\n    categories: data.categories,\n    tags: data.tags,\n    meta_description: data.meta_description,\n    content_length: data.content.length,\n    content_preview: data.content.substring(0, 500) + \"...\"\n  },\n  full_content: data.content\n};\n\nconsole.log(\"\\n=== GENERATED BLOG POST ===\");\nconsole.log(\"Title:\", data.title);\nconsole.log(\"Excerpt:\", data.excerpt);\nconsole.log(\"\\nContent Preview:\");\nconsole.log(data.content.substring(0, 500) + \"...\");\nconsole.log(\"\\n=== END PREVIEW ===\");\n\nreturn { json: preview };"
      },
      "id": "cd0633df-29ab-4050-858c-f72d45e0a92d",
      "name": "Preview Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        176
      ]
    },
    {
      "parameters": {
        "content": "## 📝 PREVIEW MODE\n\n**Current Status:** Preview Only\n\nThe workflow generates content but doesn't publish it.\n\n**To Enable Publishing:**\n1. Make sure your blog API is running at localhost:3000\n2. In \"Set Publish Mode\" node, change:\n   `publish_mode: \"preview\"` \n   to \n   `publish_mode: \"live\"`\n\n**Preview Output:**\nCheck the execution data to see the generated blog post!"
      },
      "id": "079916e9-9f78-4df8-a9ca-8f2fab6aa02d",
      "name": "Preview Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Blog Topic Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Topic Input": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "AI Agent - Blog Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Blog Writer": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Set Publish Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Blog Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Publish Mode": {
      "main": [
        [
          {
            "node": "Publish Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Mode?": {
      "main": [
        [
          {
            "node": "Create Blog Post (Live)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preview Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Blog Post (Live)": {
      "main": [
        [
          {
            "node": "Post Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a97d1e53-f1f2-44bd-9efc-55d6cb504665",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d28a9671075f0b5891a19de3804cee75b0d422edb952b37771a7916cd08431c"
  },
  "id": "13zESFZYhXwWZvWy",
  "tags": []
}