n8n-workflows/daily-paragliding-news.json
{
    "name": "Daily News - No Repeats",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 9
                        }
                    ]
                }
            },
            "id": "schedule",
            "name": "Every Day 9 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://www.xcmag.com/feed/",
                "options": {}
            },
            "id": "rss",
            "name": "Fetch RSS Feed",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://ceyhun.vercel.app/api/blog/posts?limit=100&sort=latest",
                "options": {}
            },
            "id": "check-published",
            "name": "Get Already Published",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "// Get all RSS articles\nconst rssArticles = $('Fetch RSS Feed').all();\n\n// Get already published posts\nconst published = $input.first().json.posts || [];\nconst publishedUrls = published.map(p => {\n  // Extract source URL from content (we add it at the end)\n  const match = p.content?.match(/Source: \\[.*?\\]\\((.+?)\\)/);\n  return match ? match[1] : null;\n}).filter(Boolean);\n\n// Filter out already published articles\nconst newArticles = rssArticles.filter(item => {\n  const url = item.json.link;\n  return !publishedUrls.includes(url);\n});\n\nif (newArticles.length === 0) {\n  throw new Error('All articles already published! Wait for new content.');\n}\n\n// Pick random article from unpublished ones\nconst randomIndex = Math.floor(Math.random() * newArticles.length);\nconst article = newArticles[randomIndex].json;\n\nreturn {\n  json: {\n    original_title: article.title,\n    original_content: article.content || article.contentSnippet || article.description,\n    source_url: article.link,\n    source_name: 'Cross Country Magazine',\n    image_url: 'https://images.unsplash.com/photo-1511576661531-b34d7da5d0bb?w=1200',\n    pub_date: article.pubDate\n  }\n};"
            },
            "id": "pick-new",
            "name": "Pick Unpublished Article",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                640,
                375
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $credentials.apiKey }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "anthropic/claude-3.5-sonnet"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [{\"role\": \"user\", \"content\": `Rewrite for Oludeniz Tours:\\n\\nTitle: ${$json.original_title}\\nContent: ${$json.original_content}\\n\\n600-800 words, SEO. JSON:\\n{\"title\":\"...\",\"content\":\"...\",\"excerpt\":\"...\",\"category\":\"Safety|Gear & Equipment|Events|Industry News|Tips & Guides\",\"tags\":[\"paragliding\",\"news\"],\"meta_description\":\"...\"}`}] }}"
                        },
                        {
                            "name": "temperature",
                            "value": 0.7
                        },
                        {
                            "name": "max_tokens",
                            "value": 2000
                        }
                    ]
                },
                "options": {}
            },
            "id": "ai",
            "name": "AI Rewrite",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                840,
                375
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "5vtbLyA68bKwKcxC",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\nconst article = $('Pick Unpublished Article').first().json;\nlet aiContent = response.choices[0].message.content;\n\nlet blogData;\ntry {\n  // Clean the response\n  aiContent = aiContent.trim();\n  \n  // Remove markdown code blocks\n  aiContent = aiContent.replace(/```json\\s*/g, '').replace(/```\\s*/g, '');\n  \n  // Try to extract JSON object\n  const jsonMatch = aiContent.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) {\n    throw new Error('No JSON found in AI response');\n  }\n  \n  blogData = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  // If parsing still fails, log and use defaults\n  console.error('Parse error:', e.message);\n  console.error('AI content:', aiContent);\n  \n  blogData = {\n    title: article.original_title,\n    content: article.original_content,\n    excerpt: article.original_content.substring(0, 200) + '...',\n    category: 'Industry News',\n    tags: ['paragliding', 'news'],\n    meta_description: article.original_title\n  };\n}\n\nreturn {\n  json: {\n    title: blogData.title,\n    content: blogData.content + `\\n\\n---\\n*Source: [${article.source_name}](${article.source_url})*`,\n    excerpt: blogData.excerpt,\n    featured_image: article.image_url,\n    featured_image_alt: blogData.title,\n    author_name: 'Oludeniz Tours Team',\n    author_avatar: 'https://ui-avatars.com/api/?name=Oludeniz+Tours&background=3B82F6&color=fff&size=200',\n    categories: [blogData.category],\n    tags: blogData.tags || ['paragliding', 'news'],\n    meta_description: blogData.meta_description,\n    status: 'published',\n    is_featured: false\n  }\n};"
            },
            "id": "format",
            "name": "Format Post",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1040,
                375
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ceyhun.vercel.app/api/blog/create",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.title }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.content }}"
                        },
                        {
                            "name": "excerpt",
                            "value": "={{ $json.excerpt }}"
                        },
                        {
                            "name": "featured_image",
                            "value": "={{ $json.featured_image }}"
                        },
                        {
                            "name": "featured_image_alt",
                            "value": "={{ $json.featured_image_alt }}"
                        },
                        {
                            "name": "author_name",
                            "value": "={{ $json.author_name }}"
                        },
                        {
                            "name": "author_avatar",
                            "value": "={{ $json.author_avatar }}"
                        },
                        {
                            "name": "categories",
                            "value": "={{ $json.categories }}"
                        },
                        {
                            "name": "tags",
                            "value": "={{ $json.tags }}"
                        },
                        {
                            "name": "meta_description",
                            "value": "={{ $json.meta_description }}"
                        },
                        {
                            "name": "status",
                            "value": "={{ $json.status }}"
                        },
                        {
                            "name": "is_featured",
                            "value": "={{ $json.is_featured }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "publish",
            "name": "Publish",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1240,
                375
            ]
        }
    ],
    "connections": {
        "Every Day 9 AM": {
            "main": [
                [
                    {
                        "node": "Fetch RSS Feed",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Already Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch RSS Feed": {
            "main": [
                [
                    {
                        "node": "Pick Unpublished Article",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Already Published": {
            "main": [
                [
                    {
                        "node": "Pick Unpublished Article",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pick Unpublished Article": {
            "main": [
                [
                    {
                        "node": "AI Rewrite",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Rewrite": {
            "main": [
                [
                    {
                        "node": "Format Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Post": {
            "main": [
                [
                    {
                        "node": "Publish",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "timezone": "Europe/Istanbul",
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {},
    "tags": []
}