n8n-workflows/Instagram opoooo.json
{
  "name": "Instagram opoooo",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "b0e2892a-55b7-42f9-8309-0dd9373588da",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        96
      ],
      "id": "6bd2d1e1-5c41-42bb-a7d0-bc5d2c6ebdd3",
      "name": "Webhook",
      "webhookId": "b0e2892a-55b7-42f9-8309-0dd9373588da"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f06fc590-5871-4d06-a271-9d3621876fe2",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a48554fc-0376-4ae3-a0f8-10a9d536ab52",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "mali",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        -64
      ],
      "id": "87e43e4e-8d5b-4abb-b9dc-090312f358e1",
      "name": "Webhook Verification"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -496,
        -64
      ],
      "id": "3717e99f-99e8-4289-97fc-8380699b118f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-message-exists",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-not-echo",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.is_echo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        240
      ],
      "id": "42fe03fd-fcbe-4a51-b1d2-4d54ed84d978",
      "name": "Filter Valid Messages"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "You are a friendly booking assistant for Skywalkers Tours in Fethiye, Turkey. This is INSTAGRAM chat.\n\n🌐 **LANGUAGE RULES - VERY IMPORTANT - FOLLOW STRICTLY:**\n\n1. DETECT the customer's language from their FIRST message\n2. If customer writes in TURKISH (uses Turkish words like: merhaba, selam, fiyat, ne kadar, rezervasyon, tur, uçuş) → Reply ONLY in TURKISH\n3. If customer writes in ENGLISH (uses English words like: hello, hi, price, how much, booking, tour, flight) → Reply ONLY in ENGLISH\n4. NEVER mix languages in the same response\n5. Once you detect the language, KEEP using that language for the entire conversation\n6. If unsure, default to ENGLISH\n\n📅 **DATE RULES:**\n- Current year is 2025\n- \"today\" or \"bugün\" = current date\n- \"tomorrow\" or \"yarın\" = next day\n- Never use 2024\n\n🎨 **YOUR STYLE:**\n- Be enthusiastic and friendly\n- Use emojis: ⛵☀️👋😊🪂⛰️✨\n- Show tour options first, then ask to book\n\n⏰ **TOUR DURATIONS:**\n- Paragliding: 2 hours (times: 08:30, 11:00, 13:00, 15:00, 17:00)\n- 12 Islands Boat: 7 hours (10:00-17:00)\n- Oludeniz Boat: 6 hours (10:00-16:00)\n- Jeep Safari: 8 hours FULL DAY (09:00-17:00) - cannot combine!\n- ATV Safari: 1.5 hours\n- Horse Safari: 3 hours\n- Scuba Diving: 4 hours (10:00-14:00 or 14:00-18:00)\n\n**SCHEDULING CONFLICTS:**\n- Paragliding 08:30 + Boat tour = OK\n- Paragliding 11:00 + Boat tour = NOT POSSIBLE (warn customer)\n- Any tour + Jeep Safari same day = NOT POSSIBLE\n\n🌟 **TOURS & PRICES:**\n\n1. PARAGLIDING - $120/person (USD)\n   - 2 hours total, GoPro photos/videos included\n   - Weight limit: Men 100kg, Women 80kg\n\n2. 12 ISLANDS BOAT - 2000 TL/person\n   - 7 hours, lunch included\n\n3. OLUDENIZ BOAT - 1750 TL/person\n   - 6 hours, lunch included\n\n4. JEEP SAFARI - 1250 TL/person\n   - Full day, lunch included\n\n5. ATV SAFARI - 1500 TL/person\n   - 1.5 hours\n\n6. HORSE SAFARI - 1500 TL/person\n   - 3 hours\n\n7. SCUBA DIVING - 2000 TL/person\n   - 4 hours\n\n📋 **BOOKING - Ask for:**\n\nIN ENGLISH:\n\"Great! I need your details:\n1. Full Name\n2. Email\n3. Phone (+90)\n4. Date\n5. Time\n6. Number of people\n7. Hotel name\"\n\nIN TURKISH:\n\"Harika! Bilgilerinizi alayım:\n1. Ad Soyad\n2. E-posta\n3. Telefon (+90)\n4. Tarih\n5. Saat\n6. Kişi sayısı\n7. Otel adı\"\n\n📢 **TOOLS TO USE:**\n1. Create_Booking - save reservation\n2. Send_Notification - notify office\n3. Get_FAQ_Data - search FAQ for answers\n\n📞 Contact: +90 545 616 48 40"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -592,
        160
      ],
      "id": "c04e05ea-7914-400c-a45a-57e061c4c6cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -864,
        464
      ],
      "id": "21cdfaf6-2830-4668-936b-31b891b85ed5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5vtbLyA68bKwKcxC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -736,
        464
      ],
      "id": "ab2f0e28-e23a-463d-808a-0271806f8b8f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM instagram_conversations WHERE instagram_id = '{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}'",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.postgreSql",
      "typeVersion": 1.4,
      "position": [
        -352,
        96
      ],
      "id": "find-customer-conversation",
      "name": "Find Existing Instagram Conversation",
      "credentials": {
        "postgreSQL": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Find Existing Instagram Conversation').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              },
              "id": "no-conversation-found"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "check-conversation-exists",
      "name": "Check Conversation Exists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO instagram_conversations (instagram_id, status, last_message_at) VALUES ('{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}', 'active', '{{ new Date().toISOString() }}') RETURNING id",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.postgreSql",
      "typeVersion": 1.4,
      "position": [
        48,
        -64
      ],
      "id": "create-instagram-conversation",
      "name": "Create Instagram Conversation",
      "credentials": {
        "postgreSQL": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-conversation-id",
              "name": "conversation_id",
              "value": "={{ $('Create Instagram Conversation').item.json.id || $('Find Existing Instagram Conversation').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -64
      ],
      "id": "set-conversation-id-value",
      "name": "Set Conversation ID Value"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO instagram_messages (conversation_id, message_id, sender, content, status) VALUES ('{{ $json.conversation_id }}', '{{ $('Webhook').item.json.body.entry[0].messaging[0].message.mid }}', 'customer', '{{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}', 'delivered')",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.postgreSql",
      "typeVersion": 1.4,
      "position": [
        304,
        96
      ],
      "id": "save-incoming-instagram-message",
      "name": "Save Incoming Instagram Message",
      "credentials": {
        "postgreSQL": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO instagram_messages (conversation_id, message_id, sender, content, status) VALUES ('{{ $json.conversation_id }}', 'response_{{ Date.now() }}', 'business', '{{ JSON.stringify($json.output).replace(/'/g, \"\\'\") }}', 'sent')",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.postgreSql",
      "typeVersion": 1.4,
      "position": [
        464,
        -64
      ],
      "id": "save-instagram-bot-reply",
      "name": "Save Instagram Bot Reply",
      "credentials": {
        "postgreSQL": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAVCDzt1sIxBZAFlqUnJtejhGNGZAWdThlTG9QYkMyYWxISVBBUVZA6T0NVU2NET3pUQkJVUUNlcXlWMTYyRFFSNEN1M25oZAFlSemVaZAUFuZA0VYN2NYOG9HNkpfV3pEZAG92MHhSZA1pZAWFJkM1dmZA3dUNWU2Nl93LTFHNFZAJR3NlYwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        620,
        -64
      ],
      "id": "38363b13-2e94-4865-8c59-b906fe8ec2d2",
      "name": "Send Instagram Message"
    },
    {
      "parameters": {
        "tableId": "bookings",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $fromAI('customer_name', 'Customer full name') }}"
            },
            {
              "fieldId": "customer_email",
              "fieldValue": "={{ $fromAI('customer_email', 'Customer email') }}"
            },
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $fromAI('customer_phone', 'Customer phone with country code') }}"
            },
            {
              "fieldId": "tour_name",
              "fieldValue": "={{ $fromAI('tour_name', 'Name of the tour') }}"
            },
            {
              "fieldId": "booking_date",
              "fieldValue": "={{ $fromAI('tour_date', 'Date of tour in YYYY-MM-DD format. MUST be in year 2025!') }}"
            },
            {
              "fieldId": "tour_start_time",
              "fieldValue": "={{ $fromAI('start_time', 'Tour start time HH:MM') }}"
            },
            {
              "fieldId": "adults",
              "fieldValue": "={{ $fromAI('adults', 'Number of adults') }}"
            },
            {
              "fieldId": "children",
              "fieldValue": "={{ $fromAI('children', 'Number of children, default 0') }}"
            },
            {
              "fieldId": "hotel_name",
              "fieldValue": "={{ $fromAI('hotel_name', 'Hotel name for pickup') }}"
            },
            {
              "fieldId": "total_amount",
              "fieldValue": "={{ $fromAI('total_amount', 'Total price calculated as: tour_price × number_of_people. For Paragliding $120/person, 12 Islands 2000TL/person, Oludeniz Boat 1750TL/person, Jeep Safari 1250TL/person, ATV 1500TL/person, Horse Safari 1500TL/person, Scuba 2000TL/person') }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "instagram"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -608,
        464
      ],
      "id": "8fd09600-145d-40ae-bdef-4eb9086aa8bf",
      "name": "Create_Booking",
      "credentials": {
        "supabaseApi": {
          "id": "imxxVkQE1ZlUBN8k",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1291038782",
        "text": "={{ $fromAI('notification_message', '🔔 NEW INSTAGRAM BOOKING\\n\\n👤 Name: [customer name]\\n📧 Email: [email]\\n📱 Phone: [phone]\\n🎫 Tour: [tour name]\\n📅 Date: [date]\\n⏰ Time: [time]\\n👥 People: [number]\\n💰 Amount: [total_amount]\\n🏨 Hotel: [hotel name]\\n📱 Source: Instagram\\n\\n✅ Status: Pending') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        -480,
        464
      ],
      "id": "e5bcc352-02f0-42fd-9500-2fce97e01189",
      "name": "Send_Notification",
      "webhookId": "9795867c-0d32-49a1-8ec4-49847766a885",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('lead_name', 'Customer name or Unknown') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('lead_email', 'Email if provided') }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $fromAI('lead_phone', 'Phone if provided') }}"
            },
            {
              "fieldId": "interested_in",
              "fieldValue": "={{ $fromAI('interested_tours', 'Tours customer asked about') }}"
            },
            {
              "fieldId": "stage",
              "fieldValue": "={{ $fromAI('lead_stage', 'browsing, interested, or ready') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "instagram"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $fromAI('conversation_notes', 'Brief summary of conversation') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -352,
        464
      ],
      "id": "08fbd5fc-4db1-4fb0-be6d-b8323c6fe7f3",
      "name": "Store_Lead",
      "credentials": {
        "supabaseApi": {
          "id": "imxxVkQE1ZlUBN8k",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tours",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -224,
        464
      ],
      "id": "399854dd-a3d7-4deb-b25e-e62dc5d147c9",
      "name": "Get_Tours",
      "credentials": {
        "supabaseApi": {
          "id": "imxxVkQE1ZlUBN8k",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qytZqDVXDRXkXZwPg3zeskWLqfsvBL54mhWr40n44UA",
          "mode": "list",
          "cachedResultName": "travel_faq_structured",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qytZqDVXDRXkXZwPg3zeskWLqfsvBL54mhWr40n44UA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1475726383,
          "mode": "list",
          "cachedResultName": "travel_faq_structured.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qytZqDVXDRXkXZwPg3zeskWLqfsvBL54mhWr40n44UA/edit#gid=1475726383"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -96,
        464
      ],
      "id": "ce242518-c5b8-410f-93db-d33c4a83ef7c",
      "name": "Get_FAQ_Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q74omjsza2nmZMrD",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Valid Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Messages": {
      "main": [
        [
          {
            "node": "Find Existing Instagram Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Instagram Conversation": {
      "main": [
        [
          {
            "node": "Check Conversation Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Conversation Exists": {
      "main": [
        [
          {
            "node": "Create Instagram Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "true": [
        [
          {
            "node": "Set Conversation ID Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Conversation": {
      "main": [
        [
          {
            "node": "Set Conversation ID Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Conversation ID Value": {
      "main": [
        [
          {
            "node": "Save Incoming Instagram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Incoming Instagram Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save Instagram Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Instagram Bot Reply": {
      "main": [
        [
          {
            "node": "Send Instagram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_Booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send_Notification": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Store_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Tours": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_FAQ_Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ad2383e4-976b-4c2a-bb84-f0c14241e5e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d28a9671075f0b5891a19de3804cee75b0d422edb952b37771a7916cd08431c"
  },
  "id": "ozfnghb41gUqYFnJ",
  "tags": []
}
