n8n-workflows/instagram_with_manual_mode.json
{
  "name": "Instagram with Manual Mode Control",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "b0e2892a-55b7-42f9-8309-0dd9373588da",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-800, 200],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "b0e2892a-55b7-42f9-8309-0dd9373588da"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "verify-mode", "leftValue": "={{ $json.query['hub.mode'] }}", "rightValue": "subscribe", "operator": { "type": "string", "operation": "equals" } },
            { "id": "verify-token", "leftValue": "={{ $json.query['hub.verify_token'] }}", "rightValue": "mali", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, 0],
      "id": "webhook-verification-node",
      "name": "Webhook Verification"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-320, 0],
      "id": "respond-webhook-node",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "check-message", "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } },
            { "id": "check-not-echo", "leftValue": "={{ $json.body.entry[0].messaging[0].message.is_echo }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, 400],
      "id": "filter-valid-messages-node",
      "name": "Filter Valid Messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "sender", "name": "sender_id", "value": "={{ $json.body.entry[0].messaging[0].sender.id }}", "type": "string" },
            { "id": "text", "name": "message_text", "value": "={{ $json.body.entry[0].messaging[0].message.text }}", "type": "string" },
            { "id": "mid", "name": "message_id", "value": "={{ $json.body.entry[0].messaging[0].message.mid }}", "type": "string" },
            { "id": "recipient", "name": "recipient_id", "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-320, 400],
      "id": "extract-data-node",
      "name": "Extract Message Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ceyhun.vercel.app/api/instagram/save-message",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instagram_id\": \"{{ $json.sender_id }}\",\n  \"message_id\": \"{{ $json.message_id }}\",\n  \"sender\": \"customer\",\n  \"content\": {{ JSON.stringify($json.message_text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 400],
      "id": "save-user-message-node",
      "name": "Save User Message"
    },
    {
      "parameters": {
        "url": "=https://ceyhun.vercel.app/api/instagram/check-manual-mode?instagram_id={{ $('Extract Message Data').item.json.sender_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 400],
      "id": "check-manual-mode-node",
      "name": "Check Manual Mode"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "check-bot-active", "leftValue": "={{ $json.manual_mode_active }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [400, 400],
      "id": "check-if-bot-active-node",
      "name": "Check If Bot Active"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Message Data').item.json.message_text }}",
        "options": {
          "systemMessage": "You are a friendly booking assistant for Skywalkers Tours in Fethiye, Turkey. This is INSTAGRAM chat.\n\n🌐 **LANGUAGE RULES:**\n1. DETECT customer's language from FIRST message\n2. Turkish words → Reply in TURKISH\n3. English words → Reply in ENGLISH\n4. NEVER mix languages\n\n📅 **DATE RULES:**\n- Current year is 2025\n- \"today/bugün\" = current date\n- \"tomorrow/yarın\" = next day\n\n🎨 **YOUR STYLE:**\n- Enthusiastic and friendly\n- Use emojis: ⛵☀️👋😊🪂✨\n\n🌟 **TOURS & PRICES:**\n1. PARAGLIDING - $120/person (2 hours)\n2. 12 ISLANDS BOAT - 2000 TL (7 hours)\n3. OLUDENIZ BOAT - 1750 TL (6 hours)\n4. JEEP SAFARI - 1250 TL (8 hours)\n5. ATV SAFARI - 1500 TL (1.5 hours)\n6. HORSE SAFARI - 1500 TL (3 hours)\n7. SCUBA DIVING - 2000 TL (4 hours)\n\n📋 **FOR BOOKING ASK:**\n- Full Name / E-posta / Telefon (+90)\n- Date / Time / Number of people / Hotel name\n\n📞 Contact: +90 545 616 48 40"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [640, 400],
      "id": "ai-agent-node",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": { "temperature": 0.3 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [400, 640],
      "id": "openrouter-node",
      "name": "OpenRouter Chat Model",
      "credentials": { "openRouterApi": { "id": "5vtbLyA68bKwKcxC", "name": "OpenRouter account" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message Data').item.json.sender_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 640],
      "id": "memory-node",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ceyhun.vercel.app/api/instagram/save-message",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instagram_id\": \"{{ $('Extract Message Data').item.json.sender_id }}\",\n  \"message_id\": \"response_{{ Date.now() }}\",\n  \"sender\": \"business\",\n  \"content\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400],
      "id": "save-bot-reply-node",
      "name": "Save Bot Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $('Extract Message Data').item.json.recipient_id }}/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer IGAAVCDzt1sIxBZAFlqUnJtejhGNGZAWdThlTG9QYkMyYWxISVBBUVZA6T0NVU2NET3pUQkJVUUNlcXlWMTYyRFFSNEN1M25oZAFlSemVaZAUFuZA0VYN2NYOG9HNkpfV3pEZAG92MHhSZA1pZAWFJkM1dmZA3dUNWU2Nl93LTFHNFZAJR3NlYwZDZD" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Extract Message Data').item.json.sender_id }}\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1120, 400],
      "id": "send-instagram-message-node",
      "name": "Send Instagram Message"
    },
    {
      "parameters": {
        "tableId": "bookings",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "customer_name", "fieldValue": "={{ $fromAI('customer_name', 'Customer full name') }}" },
            { "fieldId": "customer_email", "fieldValue": "={{ $fromAI('customer_email', 'Customer email') }}" },
            { "fieldId": "customer_phone", "fieldValue": "={{ $fromAI('customer_phone', 'Customer phone') }}" },
            { "fieldId": "tour_name", "fieldValue": "={{ $fromAI('tour_name', 'Tour name') }}" },
            { "fieldId": "booking_date", "fieldValue": "={{ $fromAI('tour_date', 'Date YYYY-MM-DD') }}" },
            { "fieldId": "tour_start_time", "fieldValue": "={{ $fromAI('start_time', 'Time HH:MM') }}" },
            { "fieldId": "adults", "fieldValue": "={{ $fromAI('adults', 'Number of adults') }}" },
            { "fieldId": "children", "fieldValue": "={{ $fromAI('children', 'Number of children, default 0') }}" },
            { "fieldId": "hotel_name", "fieldValue": "={{ $fromAI('hotel_name', 'Hotel name') }}" },
            { "fieldId": "total_amount", "fieldValue": "={{ $fromAI('total_amount', 'Total price') }}" },
            { "fieldId": "channel", "fieldValue": "instagram" },
            { "fieldId": "status", "fieldValue": "pending" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [720, 640],
      "id": "create-booking-node",
      "name": "Create_Booking",
      "credentials": { "supabaseApi": { "id": "imxxVkQE1ZlUBN8k", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "chatId": "1291038782",
        "text": "={{ $fromAI('notification_message', '🔔 NEW INSTAGRAM BOOKING\\n\\n👤 Name: [name]\\n📧 Email: [email]\\n📱 Phone: [phone]\\n🎫 Tour: [tour]\\n📅 Date: [date]\\n⏰ Time: [time]\\n👥 People: [number]\\n💰 Amount: [total]\\n🏨 Hotel: [hotel]\\n📱 Source: Instagram') }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [880, 640],
      "id": "send-notification-node",
      "name": "Send_Notification",
      "credentials": { "telegramApi": { "id": "G27poapTjf0q14vI", "name": "Telegram account" } }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Webhook Verification", "type": "main", "index": 0 }],
        [{ "node": "Filter Valid Messages", "type": "main", "index": 0 }]
      ]
    },
    "Webhook Verification": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Filter Valid Messages": {
      "main": [[{ "node": "Extract Message Data", "type": "main", "index": 0 }]]
    },
    "Extract Message Data": {
      "main": [[{ "node": "Save User Message", "type": "main", "index": 0 }]]
    },
    "Save User Message": {
      "main": [[{ "node": "Check Manual Mode", "type": "main", "index": 0 }]]
    },
    "Check Manual Mode": {
      "main": [[{ "node": "Check If Bot Active", "type": "main", "index": 0 }]]
    },
    "Check If Bot Active": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Save Bot Reply", "type": "main", "index": 0 }]]
    },
    "Save Bot Reply": {
      "main": [[{ "node": "Send Instagram Message", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Create_Booking": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Send_Notification": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "instagram-manual-mode-v1",
  "meta": { "templateCredsSetupCompleted": true },
  "id": "instagram-with-manual-mode",
  "tags": ["instagram", "manual-mode", "database"]
}
