telegram gemini/n8n 2025 workflows/real_estate.json
{
  "name": "real estate",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*",
          "responseMode": "responseNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        -240
      ],
      "id": "fc3b2d3d-47de-4c4b-a2bf-a12832ace6aa",
      "name": "When chat message received",
      "webhookId": "633196ce-cdd9-492d-9b41-8b4ee1f0a486"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c3507c3-83b1-4e66-96dc-be77bcbeb8d3",
              "name": "text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -260
      ],
      "id": "ff4b4df6-1ee8-473a-9b75-d27f8a67c79e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant with memory and knowledge\ncapabilities.\nContext Awareness — The date and time is: {{ $now }}\nProduct Information (Google Sheets)\nYou have access to the Google Sheets tool \"Product Info\", which\nallows you to read any content from the sheet.\nYour job is to access it to get the information you need. Always\ncheck the Google Sheet Column \"Product Description\" if the user\nmentiones any questions about any product or a related topic.\nNever tell the user that you used Google Sheets to retrieve the\ndata.\nThe Google Sheet \"Product Info\" contains all the product links.\nIf a user asks for a product link, you must always look into the\nGoogle Sheet and retrieve the correct link.\nExamples of requests:\n\"Send me the link to buy the product.\"\n\"Where can I buy the product?\"\n📌 Rule: After every user message, always check the Google Sheet\n\"Product Info\" to ensure you have the latest product details and\nlinks.\nMemory Handling (Supabase - \"Store_Memory\")\nYou have access to Supabase tools for memory storage and\nretrieval.\nCall the \"Get_Memory\" tool to retrieve past interactions before\nresponding.\nEvery response must use previous memory to guide the user towards\na decision.\n#Rule: You must ALWAYS Call the \"Store_Memory\" tool to save any\ncustomer insight.\nWhat to store in memory?\nWhat the user is looking for.\nTheir problems, objections, and challenges.\nWhat products they are interested in.\nKey insights about their needs.\n📌 Rule: Before generating any response, always retrieve relevant\nmemories from Supabase (\"Get_Memory\") and update them when new\ninformation is learned."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        520,
        -260
      ],
      "id": "9e95ea50-4ab2-4a0c-9f2a-0720f0c9fb17",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        -40
      ],
      "id": "6d7310c2-5070-46a7-8999-9574ef0aea53",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        200,
        140
      ],
      "id": "8807e4e8-7a97-4ef2-84f3-1a90c1f41757",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "MDYBwF4kvtmMTtgc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12BiIOlX7yUwfg6rUZyR_duAPH-5bEHhnMVHXm7pQ6oc",
          "mode": "list",
          "cachedResultName": "RealEstate_Listings_100",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12BiIOlX7yUwfg6rUZyR_duAPH-5bEHhnMVHXm7pQ6oc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 256910360,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12BiIOlX7yUwfg6rUZyR_duAPH-5bEHhnMVHXm7pQ6oc/edit#gid=256910360"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        480,
        -40
      ],
      "id": "58624ab8-f5db-4131-a7be-6ddd5a781a5f",
      "name": "Product info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Pn6WnlCeSudTTC2F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "real_estate_memory",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $fromAI(\"customer_name\", \"Get customer name\") }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI(\"email\", \"Get customer email\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        460,
        180
      ],
      "id": "f22a2a05-cf6a-4b0f-86b1-10044a72d629",
      "name": "Store_Memory",
      "credentials": {
        "supabaseApi": {
          "id": "kE7NuLSLrBSr1DUj",
          "name": "Supabase realestat"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "real_estate_memory",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        760,
        180
      ],
      "id": "fcf6d16b-ef6d-4551-8121-804ac1442d69",
      "name": "Get_Memory",
      "credentials": {
        "supabaseApi": {
          "id": "kE7NuLSLrBSr1DUj",
          "name": "Supabase realestat"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1160,
        -260
      ],
      "id": "18a2bcc0-c31e-43ac-8403-f19696f724c1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a620d39f-d6b7-4ca3-9dbd-bff3d961f0eb",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -240
      ],
      "id": "e86fc10a-3610-4b27-922b-68308a2f9c8e",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"output\": \"Please type your name and email address first, to\nstart the chat.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        20,
        -60
      ],
      "id": "9ff7a900-0c19-455c-88c4-a81f25a7af0d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "chatId": "1291038782",
        "text": "={{ $fromAI('notification_message', 'Create a real estate inquiry notification message including customer name, email, phone number, property title, listing ID, preferred viewing date (if provided), and any special message or request.') }}\n",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        1240,
        60
      ],
      "id": "6990f191-b566-4170-8f35-39802177c27b",
      "name": "Send_Telegram_Notification",
      "webhookId": "cd100fc0-2e1e-4129-bc79-1f01b08a6eaf",
      "credentials": {
        "telegramApi": {
          "id": "5VspppnXaFaid9tF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "=={{ $('When chat message received').item.json.sessionId }}\n"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "=={{ $fromAI(\"customer_name\", \"Get customer name\") }}\n"
            },
            {
              "fieldId": "email",
              "fieldValue": "=={{ $fromAI(\"email\", \"Get customer email\") }}\n"
            },
            {
              "fieldId": "phone",
              "fieldValue": "=={{ $fromAI(\"phone\", \"Get customer phone\") }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        820,
        20
      ],
      "id": "f0fb4067-5101-43c6-a9b4-3eee6a2efff8",
      "name": "real_estate_lead",
      "credentials": {
        "supabaseApi": {
          "id": "kE7NuLSLrBSr1DUj",
          "name": "Supabase realestat"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Store_Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send_Telegram_Notification": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "real_estate_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c58115f4-1aeb-4506-90ab-f0582aa99720",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bc47a02d3d0b4995ab80b8180d7e131b430b947f69cfc30879c32ec7e9cfafd"
  },
  "id": "WvsbFEgNSJoYzP3u",
  "tags": []
}