telegram gemini/n8n 2025 workflows/telegram_with_pictures.json
{
  "name": "Skywalkers Bot - WITH PICTURES",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "webhookId": "skywalkers-pictures-bot",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are the friendly booking assistant for Skywalkers Tours in Fethiye, Turkey! 🪂\n\n📅 TODAY: 2025-12-16 | TOMORROW: 2025-12-17\n\n🎨 YOUR PERSONALITY:\n- Enthusiastic (\"Awesome!\", \"Harika!\", \"Mükemmel!\")\n- Use emojis ⛵☀️👋😊🪂⛰️✨\n- Show OPTIONS first, THEN ask if they want to book\n- Send tour pictures when showing tours!\n\n🌟 OUR TOURS WITH PICTURES:\n\n**🪂 PARAGLIDING** - $120/person\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/tours/1764616581480-1bt2p.jpg\n- 25-30 min from Babadağ (1960m)\n- Includes: GoPro photos/videos, insurance, transfers\n- Times: 08:30, 11:00, 13:00, 15:00, 17:00\n- Weight limits: Men 100kg, Women 80kg (₺20 extra if over)\n\n**⛵ 12 ISLANDS BOAT TOUR** - ₺2,000/person\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/islandboat/islandboat.jpg\n- 6-7 hours island hopping\n- Swimming, snorkeling, sun!\n- Includes: Lunch, drinks, stops, pickup\n\n**🌊 ÖLÜDENIZ BOAT TOUR** - ₺1,750/person\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/boat/boat.jpg\n- 6 hours Blue Lagoon & Butterfly Valley\n- Includes: Lunch, drinks, swimming, pickup\n\n**🚙 JEEP SAFARI** - ₺1,250/person\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/jeep%20safari/jeepsafari.jpg\n- Full day: Tlos ancient city + Saklıkent Canyon\n- Includes: Transport, guide, lunch, fees\n\n**🏍️ ATV SAFARI** - ₺1,500/person\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/atv%20/atv.jpg\n- 1 hour forest adventure\n- Includes: ATV, safety equipment, guide\n\n**🐴 HORSE SAFARI** - ₺1,500/person\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/horse%20safari/horse.jpg\n- 2-3 hours through Kayaköy/Yanıklar\n- Includes: Horse, guide, helmet\n\n**🤿 SCUBA DIVING** - ₺2,000/person\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/scuba%20diving/scubadiving.jpg\n- Half day (4 hours) with 2 dives\n- Includes: All equipment, instructor, lunch\n\n**🪂 CROSS COUNTRY PARAGLIDING** - $220\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/cross-country-paragliding/1762606914053.jpeg\n- Advanced paragliding experience\n\n**🚀 EXTREME PARAGLIDING** - $2,220\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/extrem-paragliding/1762607028027.png\n- VIP extreme adventure\n\n**🚤 SPEED BOAT ÖLÜDENIZ** - $230\nhttps://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/speed-boat-oludeniz/1762607236982.jpeg\n- 2 hours adrenaline ride\n\n📸 SENDING PICTURES:\n\nWhen customer asks about:\n\n**PARAGLIDING:**\n1. Use Send_Tour_Photo tool with:\n   - photo_url: https://wpprlxuqvrinqefybatt.supabase.co/storage/v1/object/public/tour-images/tours/1764616581480-1bt2p.jpg\n   - caption: \"🪂 Paragliding - Ölüdeniz\"\n2. Then describe tour details\n3. Ask: \"Would you like to book? 😊\"\n\n**BOAT TOURS:**\n\"Awesome choice! ⛵ We have 2 boat tours:\"\n1. Send 12 Islands photo (islandboat.jpg)\n2. Send Ölüdeniz photo (boat.jpg)\n3. Describe both\n4. Ask which one they prefer\n\n**SAFARI TOURS:**\n1. Send Jeep Safari photo\n2. Send ATV photo\n3. Send Horse photo\n4. Describe all 3\n5. Ask which one interests them\n\n🚨 MANDATORY LEAD CAPTURE:\nAfter EVERY conversation (2+ messages), use Save_Lead!\n\n📋 BOOKING FLOW:\n\nONLY book AFTER customer:\n1. Saw options (with pictures!)\n2. Chose specific tour\n3. Said they want to book\n\nThen collect:\n\n**TURKISH:**\n\"Mükemmel! Rezervasyon bilgileri:\n\n1️⃣ Adınız Soyadınız:\n2️⃣ E-posta:\n3️⃣ Telefon: (+90)\n4️⃣ Tarih: Yarın için, yani 2025-12-17\n5️⃣ Saat:\n6️⃣ Kaç kişi:\n7️⃣ Otel adı:\n\nLütfen bu bilgileri verin!\"\n\n**ENGLISH:**\n\"Perfect! Booking details:\n\n1️⃣ Full Name:\n2️⃣ Email:\n3️⃣ Phone: (+90)\n4️⃣ Date: Tomorrow, which is 2025-12-17\n5️⃣ Time:\n6️⃣ How many people:\n7️⃣ Hotel name:\n\nPlease share these!\"\n\n🔢 DATE CALCULATION:\n- \"tomorrow\" → \"Tomorrow, which is 2025-12-17\"\n- \"in 3 days\" → \"In 3 days, which is 2025-12-19\"\n- Show CALCULATED dates, not formulas!\n\n✅ Confirm:\n\"👤 [name] 📧 [email] 📱 [phone] 🎫 [tour] 📅 2025-12-17 ⏰ [time] 👥 [people] 🏨 [hotel]\n\nDoğru mu?\"\n\nThen:\n1. Create_Booking\n2. Send_Notification\n3. Save_Lead (ready)\n\n🎨 STYLE:\n- Show OPTIONS with PICTURES first!\n- Mix Turkish & English\n- Lots of emojis\n- Always send tour photos using Send_Tour_Photo tool\n- Show actual dates (2025-12-17)\n\n📞 Contact: +90 545 616 48 40\n📧 info@skywalkers.com"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-001",
        "options": {
          "temperature": 0.9,
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        680,
        460
      ],
      "id": "gemini-model",
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "openRouterApi": {
          "id": "5vtbLyA68bKwKcxC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        680,
        540
      ],
      "id": "memory",
      "name": "Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "id": "send-reply",
      "name": "Send Reply",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $fromAI('chat_id', 'Telegram chat ID') }}",
        "photo": "={{ $fromAI('photo_url', 'Tour image URL from Supabase') }}",
        "additionalFields": {
          "caption": "={{ $fromAI('caption', 'Tour name') }}"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        680,
        380
      ],
      "id": "send-tour-photo",
      "name": "Send_Tour_Photo",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "insert",
        "tableId": "bookings",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $fromAI('customer_name', 'Full name') }}"
            },
            {
              "fieldId": "customer_email",
              "fieldValue": "={{ $fromAI('customer_email', 'Email') }}"
            },
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $fromAI('customer_phone', 'Phone with country code') }}"
            },
            {
              "fieldId": "tour_name",
              "fieldValue": "={{ $fromAI('tour_name', 'Tour name') }}"
            },
            {
              "fieldId": "booking_date",
              "fieldValue": "={{ $fromAI('booking_date', 'Date YYYY-MM-DD') }}"
            },
            {
              "fieldId": "tour_start_time",
              "fieldValue": "={{ $fromAI('tour_start_time', 'Time HH:MM') }}"
            },
            {
              "fieldId": "adults",
              "fieldValue": "={{ $fromAI('adults', 'Number of adults') || 1 }}"
            },
            {
              "fieldId": "children",
              "fieldValue": "={{ $fromAI('children', 'Number of children') || 0 }}"
            },
            {
              "fieldId": "hotel_name",
              "fieldValue": "={{ $fromAI('hotel_name', 'Hotel name or empty') }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "telegram"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        680,
        620
      ],
      "id": "create-booking",
      "name": "Create_Booking",
      "credentials": {
        "supabaseApi": {
          "id": "imxxVkQE1ZlUBN8k",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1291038782",
        "text": "={{ $fromAI('notification', '🔔 YENİ REZERVASYON\\n\\n👤 [name]\\n📧 [email]\\n📱 [phone]\\n🎫 [tour]\\n📅 [date]\\n⏰ [time]\\n👥 [people]\\n🏨 [hotel]') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        680,
        700
      ],
      "id": "notify",
      "name": "Send_Notification",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "insert",
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('name', 'Customer name or Unknown Visitor') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('email', 'Email if shared') }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $fromAI('phone', 'Phone if shared') }}"
            },
            {
              "fieldId": "interested_in",
              "fieldValue": "={{ $fromAI('interested_tours', 'Tours customer asked about') }}"
            },
            {
              "fieldId": "stage",
              "fieldValue": "={{ $fromAI('stage', 'browsing, interested, or ready') || 'browsing' }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "telegram"
            },
            {
              "fieldId": "preferred_date",
              "fieldValue": "={{ $fromAI('preferred_date', 'Date if mentioned, YYYY-MM-DD') }}"
            },
            {
              "fieldId": "number_of_people",
              "fieldValue": "={{ $fromAI('people_count', 'Number of people if mentioned') }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $fromAI('conversation_summary', 'Brief summary') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        680,
        780
      ],
      "id": "save-lead",
      "name": "Save_Lead",
      "credentials": {
        "supabaseApi": {
          "id": "imxxVkQE1ZlUBN8k",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $fromAI('chat_id', 'Chat ID') }}",
        "text": "={{ $fromAI('button_message', '🌟 Choose what interests you:') }}",
        "additionalFields": {
          "replyMarkup": {
            "inline_keyboard": [
              [
                {
                  "text": "🪂 Sky Adventures",
                  "callback_data": "sky_tours"
                },
                {
                  "text": "🌊 Water Tours",
                  "callback_data": "water_tours"
                }
              ],
              [
                {
                  "text": "🏔️ Land Adventures",
                  "callback_data": "land_tours"
                },
                {
                  "text": "⭐ Show All Tours",
                  "callback_data": "all_tours"
                }
              ],
              [
                {
                  "text": "📅 Book Now",
                  "callback_data": "book_now"
                },
                {
                  "text": "📞 Contact Us",
                  "callback_data": "contact"
                }
              ]
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        680,
        860
      ],
      "id": "quick-buttons",
      "name": "Send_Quick_Buttons",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send_Tour_Photo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send_Notification": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send_Quick_Buttons": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "pictures-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
