telegram gemini/n8n 2025 workflows/Texil_company_copy.json
{
  "name": "Texil company copy",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*",
          "responseMode": "responseNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1560,
        -40
      ],
      "id": "e00536e8-6ebe-4807-953f-cb856ab6ea87",
      "name": "When chat message received",
      "webhookId": "0fd82612-d373-4117-a4f7-c799de81b8bf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c3507c3-83b1-4e66-96dc-be77bcbeb8d3",
              "name": "text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        -120
      ],
      "id": "01139cd1-e475-4f03-a7ad-accbbbc15d43",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant with memory and knowledge\ncapabilities.\nContext Awareness — The date and time is: {{ $now }}\nProduct Information (Google Sheets)\nYou have access to the Google Sheets tool \"Product Info\", which\nallows you to read any content from the sheet.\nYour job is to access it to get the information you need. Always\ncheck the Google Sheet Column \"Product Description\" if the user\nmentiones any questions about any product or a related topic.\nNever tell the user that you used Google Sheets to retrieve the\ndata.\nThe Google Sheet \"Product Info\" contains all the product links.\nIf a user asks for a product link, you must always look into the\nGoogle Sheet and retrieve the correct link.\nExamples of requests:\n\"Send me the link to buy the product.\"\n\"Where can I buy the product?\"\n📌 Rule: After every user message, always check the Google Sheet\n\"Product Info\" to ensure you have the latest product details and\nlinks.\nMemory Handling (Supabase - \"Store_Memory\")\nYou have access to Supabase tools for memory storage and\nretrieval.\nCall the \"Get_Memory\" tool to retrieve past interactions before\nresponding.\nEvery response must use previous memory to guide the user towards\na decision.\n#Rule: You must ALWAYS Call the \"Store_Memory\" tool to save any\ncustomer insight.\nWhat to store in memory?\nWhat the user is looking for.\nTheir problems, objections, and challenges.\nWhat products they are interested in.\nKey insights about their needs.\n📌 Rule: Before generating any response, always retrieve relevant\nmemories from Supabase (\"Get_Memory\") and update them when new\ninformation is learned."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -408,
        -120
      ],
      "id": "30681b88-d69a-4c84-a2ee-cb1d56926be1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -500,
        100
      ],
      "id": "ea83d11d-c437-4ea0-9a68-aabcc71e85f0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -620,
        100
      ],
      "id": "35345bbc-b51f-4b60-a865-d7e8757cb96e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "MDYBwF4kvtmMTtgc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D2-fTBN0y4o2q3XsBzi4EUPCGZxnlDubV_R8KqbsMd4",
          "mode": "list",
          "cachedResultName": "textil ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D2-fTBN0y4o2q3XsBzi4EUPCGZxnlDubV_R8KqbsMd4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 214389654,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D2-fTBN0y4o2q3XsBzi4EUPCGZxnlDubV_R8KqbsMd4/edit#gid=214389654"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -380,
        100
      ],
      "id": "f1574adf-ed5c-4648-bca1-1c663fa023c0",
      "name": "Product info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Pn6WnlCeSudTTC2F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "webchat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "memory",
              "fieldValue": "=={{ $fromAI('memory', 'store new memory based on the user input and be as specific as you can') || '' }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "=={{ $fromAI('customer_email', 'if the user responds with an email address you can save it here') || '' }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "=={{ $fromAI('customer_name', 'if the user responds with a name you can save it here') || '' }}"
            },
            {
              "fieldId": "sessionID",
              "fieldValue": "=={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -260,
        100
      ],
      "id": "107b9c1e-156d-4a59-83ff-bc403b5f0ec8",
      "name": "Store_Memory",
      "credentials": {
        "supabaseApi": {
          "id": "IyB9aF4K94ywezz5",
          "name": "test"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "webchat",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -140,
        100
      ],
      "id": "3ab90f81-b806-48ae-bfda-73abe835edb3",
      "name": "Get_Memory",
      "credentials": {
        "supabaseApi": {
          "id": "IyB9aF4K94ywezz5",
          "name": "test"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        400,
        -120
      ],
      "id": "bfe3aa6e-4e22-4a76-8c13-7484c3d44504",
      "name": "Respond to Webhook",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a620d39f-d6b7-4ca3-9dbd-bff3d961f0eb",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1280,
        -20
      ],
      "id": "57f35459-cd96-47dd-bd20-0da9728f1b65",
      "name": "If",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"output\": \"Please type your name and email address first, to\nstart the chat.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -820,
        160
      ],
      "id": "78d986b3-2417-4b46-9f8d-119e64419c08",
      "name": "Respond to Webhook1",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "orders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_name",
              "fieldValue": "=={{ $fromAI('customer_name', 'Get the customer name') || '' }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "=={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "fieldId": "product_name",
              "fieldValue": "=={{ $fromAI('product', 'Get the product name') || '' }}"
            },
            {
              "fieldId": "size",
              "fieldValue": "=={{ $fromAI('size', 'Get the product size') || '' }}"
            },
            {
              "fieldId": "quantity",
              "fieldValue": "=={{ $fromAI('quantity', 'Get the quantity') || 1 }}"
            },
            {
              "fieldId": "color",
              "fieldValue": "=={{ $fromAI('color', 'Get the product color') || '' }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "=={{ $fromAI('address', 'Get the delivery address') || '' }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "=={{ $fromAI('phone', 'Get the phone number') || '' }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "=={{ $fromAI('email', 'Get the email address') || '' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -20,
        100
      ],
      "id": "23f1557f-b6cc-4530-8ed2-77ecf5234e10",
      "name": "Create_Order",
      "credentials": {
        "supabaseApi": {
          "id": "IyB9aF4K94ywezz5",
          "name": "test"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Store_Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b34f990-4084-4df2-9e98-4f39308270f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bc47a02d3d0b4995ab80b8180d7e131b430b947f69cfc30879c32ec7e9cfafd"
  },
  "id": "iAKXoNDIN7laGKnt",
  "tags": []
}