telegram gemini/telegram_working.json
{
  "name": "Skywalkers Tours Bot - WORKING",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "webhookId": "skywalkers-working-bot",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are the booking assistant for Skywalkers Tours in Fethiye, Turkey. 🪂\n\n📅 Today: {{ $now.format('YYYY-MM-DD') }}\n\n🌟 OUR 10 TOURS:\n\n1. **Paragliding** - $120 USD/person\n   - 25-30 min flight from Babadağ (1960m)\n   - Includes: GoPro photos/videos, insurance, transfers\n   - Start times: 08:30, 11:00, 13:00, 15:00, 17:00\n   - Pickup available ✅\n\n2. **12 Islands Boat Tour** - ₺2,000/person\n   - 6 hours island hopping with lunch\n   - Includes: Boat cruise, lunch, drinks, swimming stops\n   - Pickup available ✅\n\n3. **Ölüdeniz Boat Tour** - ₺1,750/person\n   - 6 hours with Butterfly Valley visit\n   - Includes: Boat cruise, lunch, drinks, swimming\n   - Pickup available ✅\n\n4. **Jeep Safari** - ₺1,250/person\n   - Full day: Tlos ancient city + Saklıkent Canyon\n   - Includes: Transport, guide, lunch, entry fees\n   - Pickup available ✅\n\n5. **ATV Safari** - ₺1,500/person\n   - 1 hour forest adventure\n   - Includes: ATV, safety equipment, guide\n   - Pickup available ✅\n\n6. **Horse Safari** - ₺1,500/person\n   - 2-3 hours through Kayaköy or Yanıklar\n   - Includes: Horse, guide, helmet, insurance\n   - Pickup available ✅\n\n7. **Scuba Diving** - ₺2,000/person\n   - Half day (4 hours) with 2 dives\n   - Includes: Equipment, instructor, lunch\n   - Pickup available ✅\n\n8. **Cross Country Paragliding** - $220 USD\n   - Advanced paragliding experience\n\n9. **Extreme Paragliding** - $2,220 USD\n   - VIP extreme paragliding\n\n10. **Speed Boat Ölüdeniz** - $230 USD\n    - 2 hours speed boat adventure\n\n💬 LANGUAGE:\n- Detect Turkish or English and respond naturally\n- Never mention you're AI\n\n🚨 MANDATORY LEAD CAPTURE:\n⚡ CRITICAL: After EVERY conversation where customer:\n- Asks about tours (any tour)\n- Shows interest\n- Provides any info (name, email, phone)\n- Has 2+ message exchanges\n\nYou MUST use Save_Lead tool BEFORE ending conversation!\n\nCapture:\n- Name (if mentioned, else 'Unknown Visitor')\n- Email/Phone (if shared)\n- Tours they asked about\n- Interest level: browsing/interested/ready\n- Any dates or people count mentioned\n- Brief summary of what they discussed\n\nEven if customer just browses, SAVE THE LEAD!\nThis is NON-NEGOTIABLE for business tracking.\n\n📋 BOOKING FLOW:\nWhen customer wants to book, collect:\n1. Full name\n2. Email\n3. Phone (with +90 country code)\n4. Tour name\n5. Date (YYYY-MM-DD)\n6. Time (if applicable)\n7. Number of adults\n8. Number of children\n9. Hotel name (for pickup) or confirm office meeting\n\nThen:\n1. Use Create_Booking tool\n2. Use Send_Notification tool\n3. STILL use Save_Lead tool (mark as 'ready' stage)\n4. Confirm: \"✅ Booking Confirmed! We'll contact you at [phone]. See you on [date]! 🌟\"\n\n🎨 STYLE:\n- Friendly and excited\n- Use emojis naturally\n- Build enthusiasm about Fethiye experiences\n- When greeting new users, suggest using quick buttons\n- Before saying goodbye, ALWAYS Save_Lead!\n\n📞 Contact: +90 545 616 48 40\n📧 Email: info@skywalkers.com"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-001",
        "options": {
          "temperature": 0.8,
          "maxTokens": 800
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        680,
        460
      ],
      "id": "gemini-model",
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "openRouterApi": {
          "id": "5vtbLyA68bKwKcxC",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        680,
        540
      ],
      "id": "memory",
      "name": "Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "id": "send-reply",
      "name": "Send Reply",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "bookings",
        "operation": "insert",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $fromAI('customer_name', 'Full name') }}"
            },
            {
              "fieldId": "customer_email",
              "fieldValue": "={{ $fromAI('customer_email', 'Email') }}"
            },
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $fromAI('customer_phone', 'Phone with country code') }}"
            },
            {
              "fieldId": "tour_name",
              "fieldValue": "={{ $fromAI('tour_name', 'Tour name') }}"
            },
            {
              "fieldId": "booking_date",
              "fieldValue": "={{ $fromAI('booking_date', 'Date YYYY-MM-DD') }}"
            },
            {
              "fieldId": "tour_start_time",
              "fieldValue": "={{ $fromAI('tour_start_time', 'Time HH:MM') }}"
            },
            {
              "fieldId": "adults",
              "fieldValue": "={{ $fromAI('adults', 'Number of adults') || 1 }}"
            },
            {
              "fieldId": "children",
              "fieldValue": "={{ $fromAI('children', 'Number of children') || 0 }}"
            },
            {
              "fieldId": "hotel_name",
              "fieldValue": "={{ $fromAI('hotel_name', 'Hotel name or empty') }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "telegram"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        680,
        620
      ],
      "id": "create-booking",
      "name": "Create_Booking",
      "credentials": {
        "supabaseApi": {
          "id": "imxxVkQE1ZlUBN8k",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1291038782",
        "text": "={{ $fromAI('notification', '🔔 NEW BOOKING\\n\\nName: [name]\\nEmail: [email]\\nPhone: [phone]\\nTour: [tour]\\nDate: [date]\\nTime: [time]\\nGuests: [X adults, Y children]\\nHotel: [hotel]') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        680,
        700
      ],
      "id": "notify",
      "name": "Send_Notification",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "operation": "insert",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('name', 'Customer name if mentioned, or Unknown') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('email', 'Email if shared, or null') }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $fromAI('phone', 'Phone if shared, or null') }}"
            },
            {
              "fieldId": "interested_in",
              "fieldValue": "={{ $fromAI('interested_tours', 'List of tours customer asked about') }}"
            },
            {
              "fieldId": "stage",
              "fieldValue": "={{ $fromAI('stage', 'browsing, interested, or ready') || 'browsing' }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "telegram"
            },
            {
              "fieldId": "preferred_date",
              "fieldValue": "={{ $fromAI('preferred_date', 'Date mentioned if any, YYYY-MM-DD format') }}"
            },
            {
              "fieldId": "number_of_people",
              "fieldValue": "={{ $fromAI('people_count', 'Total number of people if mentioned') }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $fromAI('conversation_summary', 'Brief summary of what customer discussed') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        680,
        780
      ],
      "id": "save-lead",
      "name": "Save_Lead",
      "credentials": {
        "supabaseApi": {
          "id": "imxxVkQE1ZlUBN8k",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $fromAI('chat_id', 'Telegram chat ID from conversation') }}",
        "text": "={{ $fromAI('button_message', 'Choose what you want to explore:') }}",
        "additionalFields": {
          "replyMarkup": {
            "inline_keyboard": [
              [
                {
                  "text": "🪂 Sky Tours",
                  "callback_data": "sky_tours"
                },
                {
                  "text": "🌊 Water Tours",
                  "callback_data": "water_tours"
                }
              ],
              [
                {
                  "text": "🏔️ Land Tours",
                  "callback_data": "land_tours"
                },
                {
                  "text": "⭐ All Tours",
                  "callback_data": "all_tours"
                }
              ],
              [
                {
                  "text": "📅 Book Now",
                  "callback_data": "book_now"
                },
                {
                  "text": "📞 Contact Us",
                  "callback_data": "contact"
                }
              ]
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1,
      "position": [
        680,
        860
      ],
      "id": "quick-buttons",
      "name": "Send_Quick_Buttons",
      "credentials": {
        "telegramApi": {
          "id": "G27poapTjf0q14vI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create_Booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send_Notification": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send_Quick_Buttons": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "working-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
